" Local setup for user's vimwiki.
"
" This file should be sourced from your .gvimrc
"
"
" Set or override all/any options for default wiki.
let wiki = {'path': '~/vimwiki/',
\           'path_html': '~/vimwiki/HTML/',
\           'auto_export': 1,
\           'index': 'index',
\           'ext': '.wiki',
\           'syntax': 'default',
\           'template_path': '',
\           'template_default': '',
\           'template_ext': '',
\           'css_name': 'style.css',
\           'maxhi': 0,
\           'nested_syntaxes': {'python': 'python', 'js': 'javascript'},
\           'diary_rel_path': 'diary/',
\           'diary_index': 'diary',
\           'diary_header': 'Diary',
\           'diary_sort': 'desc',
\           'diary_link_fmt': '%Y-%m-%d',
\           'custom_wiki2html': '',
\           'list_margin': -1
\           }
" Make wiki the default vimwiki setup
let g:vimwiki_list = [wiki]
" When opening a directory containing a file with this name and default wiki
" extention, assume it is a vimwiki
let g:vimwiki_dir_link = 'index'

